[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NetCoupler"]
	path = NetCoupler
	url = https://github.com/netcoupler/netcoupler
